body {
    background-image: url(images/1.jpg);
    background-size: 100%;
    /* display: flex;
    justify-content: center; */
    display: grid;
    justify-items: center;

}
#test {
    transform: scale(1[,1]);
    transition: all 1s;
    background-color: #3c980a;
    color: #CCCCCC;
    width: 70%;
    /* margin-left: 120px; */
    padding: 20px;
    opacity: 0.9;
    border: 7px solid #000000;
    border-radius: 100px;
    box-shadow: 33px 33px 20px #000000;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    /* justify-self: center; */
    

}
#test:hover {
    transform: rotate(45deg);
    background-color: red;
}